h3 {
    text-align: center;
}

.btn-custom {
    background-color: #637A9F; 
    color: #fff;
    border-color: #637A9F; 
}

body{
    background-color: #C9D7DD;
}

.btn{
    background-color: #637A9F;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}